@import "@fontsource-variable/fira-code/wght.css";
@import "@fontsource-variable/inter/wght.css";

@import "@mantine/core/styles.css";
@import "@mantine/dropzone/styles.css";
@import "@mantine/notifications/styles.css";

@import "./base.css";
@import "./root.css";

@import "./components/card.css";
