stages:
  - lint
  - test
  - build
  - deploy

include:
  - local: /.gitlab/workflows/lint-backend.yml
  - local: /.gitlab/workflows/lint-frontend.yml
  - local: /.gitlab/workflows/unit-tests.yml
  - local: /.gitlab/workflows/e2e-tests.yml
  - local: /.gitlab/workflows/build-backend.yml
  - local: /.gitlab/workflows/build-frontend.yml

lint-backend:
  extends: .lint-backend-template

lint-frontend:
  extends: .lint-frontend-template

unit-tests:
  extends: .unit-tests-template
  needs:
    - job: lint-backend
      artifacts: false

e2e-tests:
  extends: .e2e-tests-template
  needs:
    - job: lint-backend
      artifacts: false

build-backend:
  extends: .build-backend-template
  needs:
    - lint-backend
    - unit-tests
    - e2e-tests

build-frontend:
  extends: .build-frontend-template
  needs:
    - lint-frontend

deploy-production:
  stage: deploy
  image: alpine:3.22
  before_script:
    - apk add --no-cache openssh
    - mkdir -p ~/.ssh
    - echo "$SSH_PRIVATE_KEY" | tr -d '\r' > ~/.ssh/id_rsa
    - chmod 600 ~/.ssh/id_rsa
    - ssh-keyscan -H team-36-alpha-e7g5iw9y.hack.prodcontest.ru >> ~/.ssh/known_hosts
  script:
    - ssh student@team-36-alpha-e7g5iw9y.hack.prodcontest.ru "
        cd pay-me-more || exit 1;
        git pull origin main;
        docker compose --profile prod up -d --force-recreate
      "
  only:
    - main
  needs:
    - build-backend
    - build-frontend