name: pay-me-more

services:
  backend:
    container_name: pay-me-more-backend
    image: ${DOCKER_REGISTRY}/${DOCKER_REPO}/backend:${TAG:-latest}
    restart: unless-stopped
    env_file:
      - path: .env
        required: true
    environment:
      - BACKEND_APP_DEBUG=false
    depends_on:
      postgres:
        condition: service_healthy
    networks:
      - pay-me-more-network
    profiles:
      - prod

  backend-dev:
    container_name: pay-me-more-backend-dev
    build:
      context: ./apps/backend
      dockerfile: Dockerfile.dev
    restart: unless-stopped
    env_file:
      - path: .env
        required: true
    ports:
      - 127.0.0.1:8000:8000
    environment:
      - BACKEND_APP_DEBUG=true
    depends_on:
      postgres:
        restart: false
        required: true
        condition: service_healthy
    volumes:
      - type: bind
        source: ./apps/backend/src
        target: /app/src
    networks:
      - pay-me-more-network
    profiles:
      - dev
      - dev-https
      - dev-backend

  backend-test:
    container_name: pay-me-more-backend-test
    build:
      context: ./apps/backend
      dockerfile: Dockerfile.test
    restart: no
    command: |
      pytest --cov=src --cov-report=term-missing tests
    env_file:
      - path: .env
        required: true
    environment:
      - BACKEND_APP_DEBUG=true
    depends_on:
      postgres-test:
        restart: false
        required: true
        condition: service_healthy
    networks:
      - pay-me-more-network
    profiles:
      - test

  backend-test-e2e:
    container_name: pay-me-more-backend-test-e2e
    build:
      context: ./apps/backend
      dockerfile: Dockerfile.test
    restart: no
    command: |
      pytest --cov=src --cov-report=term-missing tests/e2e
    env_file:
      - path: .env
        required: true
    environment:
      - BACKEND_APP_DEBUG=true
    depends_on:
      postgres-test:
        restart: false
        required: true
        condition: service_healthy
    networks:
      - pay-me-more-network
    profiles:
      - test-e2e

  backend-test-unit:
    container_name: pay-me-more-backend-test-unit
    build:
      context: ./apps/backend
      dockerfile: Dockerfile.test
    restart: no
    command: |
      pytest --cov=src --cov-report=term-missing tests/unit
    env_file:
      - path: .env
        required: true
    environment:
      - BACKEND_APP_DEBUG=true
    depends_on:
      postgres-test:
        restart: false
        required: true
        condition: service_healthy
    networks:
      - pay-me-more-network
    profiles:
      - test-unit

  backend-staging:
    container_name: pay-me-more-backend-staging
    build:
      context: ./apps/backend
      dockerfile: Dockerfile.prod
    restart: unless-stopped
    env_file:
      - path: .env
        required: true
    ports:
      - 127.0.0.1:8000:8000
    environment:
      - BACKEND_APP_DEBUG=false
    depends_on:
      postgres:
        restart: false
        required: true
        condition: service_started
    networks:
      - pay-me-more-network
    profiles:
      - staging
      - staging-https

  frontend:
    container_name: pay-me-more-frontend
    image: ${DOCKER_REGISTRY}/${DOCKER_REPO}/frontend:${TAG:-latest}
    restart: unless-stopped
    depends_on:
      backend:
        restart: false
        required: true
        condition: service_started
    networks:
      - pay-me-more-network
    profiles:
      - prod

  frontend-dev:
    container_name: pay-me-more-frontend-dev
    build:
      context: ./apps/frontend
      dockerfile: Dockerfile.dev
    restart: unless-stopped
    env_file:
      - path: .env
        required: true
    depends_on:
      backend-dev:
        restart: false
        required: true
        condition: service_started
    volumes:
      - type: bind
        source: ./apps/frontend/public
        target: /app/public
      - type: bind
        source: ./apps/frontend/src
        target: /app/src
      - type: bind
        source: ./apps/frontend/rsbuild.config.ts
        target: /app/rsbuild.config.ts
    networks:
      - pay-me-more-network
    profiles:
      - dev
      - dev-https

  frontend-staging:
    container_name: pay-me-more-frontend-staging
    build:
      context: ./apps/frontend
      dockerfile: Dockerfile.prod
    restart: unless-stopped
    env_file:
      - path: .env
        required: true
    depends_on:
      backend-staging:
        restart: false
        required: true
        condition: service_started
    networks:
      - pay-me-more-network
    profiles:
      - staging
      - staging-https

  postgres:
    container_name: pay-me-more-postgres
    image: postgres:17.5
    restart: unless-stopped
    env_file:
      - path: .env
        required: true
    ports:
      - 127.0.0.1:${BACKEND_POSTGRES_PORT}:${BACKEND_POSTGRES_PORT}
    environment:
      - PGUSER=${BACKEND_POSTGRES_USERNAME}
      - POSTGRES_DB=${BACKEND_POSTGRES_PATH}
      - POSTGRES_USER=${BACKEND_POSTGRES_USERNAME}
      - POSTGRES_PASSWORD=${BACKEND_POSTGRES_PASSWORD}
    volumes:
      - type: volume
        source: postgres-data
        target: /var/lib/postgresql/data
    networks:
      - pay-me-more-network
    profiles:
      - dev
      - dev-https
      - dev-backend
      - staging
      - staging-https
      - prod
    healthcheck:
      test: [ "CMD-SHELL", "pg_isready -U ${BACKEND_POSTGRES_USERNAME} -d ${BACKEND_POSTGRES_PATH}" ]
      interval: 5s
      timeout: 3s
      retries: 5
      start_period: 5s

  postgres-test:
    container_name: pay-me-more-postgres-test
    image: postgres:17.5
    restart: unless-stopped
    env_file:
      - path: .env
        required: true
    ports:
      - 127.0.0.1:${BACKEND_POSTGRES_TEST_PORT}:${BACKEND_POSTGRES_TEST_PORT}
    environment:
      - PGUSER=${BACKEND_POSTGRES_TEST_USERNAME}
      - POSTGRES_DB=${BACKEND_POSTGRES_TEST_PATH}
      - POSTGRES_USER=${BACKEND_POSTGRES_TEST_USERNAME}
      - POSTGRES_PASSWORD=${BACKEND_POSTGRES_TEST_PASSWORD}
    volumes:
      - type: volume
        source: postgres-test-data
        target: /var/lib/postgresql/data
    networks:
      - pay-me-more-network
    profiles:
      - test
      - test-e2e
      - test-unit
    healthcheck:
      test: [ "CMD-SHELL", "pg_isready -U ${BACKEND_POSTGRES_TEST_USERNAME} -d ${BACKEND_POSTGRES_TEST_PATH}" ]
      interval: 5s
      timeout: 3s
      retries: 5
      start_period: 5s

  node-exporter:
    container_name: pay-me-more-node-exporter
    image: quay.io/prometheus/node-exporter:v1.9.1
    restart: unless-stopped
    env_file:
      - path: .env
        required: true
    volumes:
      - type: volume
        source: node-exporter-data
        target: /host
        read_only: true
        volume:
          nocopy: true
    networks:
      - pay-me-more-network
    command:
      - --path.rootfs=/host
    profiles:
      - prod

  prometheus:
    container_name: pay-me-more-prometheus
    image: prom/prometheus:v3.3.0
    restart: unless-stopped
    ports:
      - 127.0.0.1:9090:9090
    healthcheck:
      test: [ "CMD", "wget", "-O", "-", "http://localhost:9090/-/healthy" ]
      interval: 1m30s
      timeout: 5s
      start_period: 5s
      start_interval: 2s
      retries: 5
    env_file:
      - path: .env
        required: true
    volumes:
      - type: bind
        source: ./etc/prometheus/alert.rules.yml
        target: /etc/prometheus/alert.rules.yml
    networks:
      - pay-me-more-network
    configs:
      - source: prometheus-config
        target: /etc/prometheus/prometheus.yml
    profiles:
      - prod

  alertmanager:
    container_name: pay-me-more-alertmanager
    build:
      context: ./etc/alertmanager
      dockerfile: Dockerfile
    restart: no
    env_file:
      - path: .env
        required: true
    networks:
      - pay-me-more-network
    depends_on:
      backend:
        restart: false
        required: true
        condition: service_started
      prometheus:
        condition: service_healthy
    profiles:
      - prod

  grafana:
    container_name: pay-me-more-grafana
    image: grafana/grafana:11.6.1
    restart: unless-stopped
    healthcheck:
      test: [ "CMD", "wget", "-O", "-", "http://localhost:3000/api/health" ]
      interval: 1m30s
      timeout: 5s
      start_period: 5s
      start_interval: 2s
      retries: 5
    env_file:
      - path: .env
        required: true
    volumes:
      - type: bind
        source: ./etc/grafana/provisioning/dashboards
        target: /etc/grafana/provisioning/dashboards
      - type: bind
        source: ./etc/grafana/provisioning/datasources
        target: /etc/grafana/provisioning/datasources
      - type: volume
        source: grafana-data
        target: /var/lib/grafana
    networks:
      - pay-me-more-network
    configs:
      - source: grafana-config
        target: /etc/grafana/grafana.ini
    depends_on:
      prometheus:
        restart: false
        required: true
        condition: service_healthy
    profiles:
      - prod

  nginx:
    container_name: pay-me-more-nginx
    image: nginx:1.28.0-alpine
    restart: unless-stopped
    env_file:
      - path: .env
        required: true
    ports:
      - 443:443
      - 80:80
    networks:
      - pay-me-more-network
    configs:
      - source: nginx-config
        target: /etc/nginx/conf.d/default.conf
    volumes:
      - ./etc/nginx/ssl:/etc/nginx/ssl
    depends_on:
      backend:
        restart: false
        required: true
        condition: service_started
      frontend:
        restart: false
        required: true
        condition: service_started
      grafana:
        restart: false
        required: true
        condition: service_healthy
    profiles:
      - prod

  nginx-dev:
    container_name: pay-me-more-nginx-dev
    image: nginx:1.28.0-alpine
    restart: unless-stopped
    env_file:
      - path: .env
        required: true
    ports:
      - 443:443
      - 80:80
    networks:
      - pay-me-more-network
    configs:
      - source: nginx-dev-config
        target: /etc/nginx/conf.d/default.conf
    depends_on:
      backend-dev:
        restart: false
        required: true
        condition: service_started
      frontend-dev:
        restart: false
        required: true
        condition: service_started
    profiles:
      - dev
      - dev-https

  nginx-staging:
    container_name: pay-me-more-nginx-staging
    image: nginx:1.28.0-alpine
    restart: unless-stopped
    env_file:
      - path: .env
        required: true
    ports:
      - 443:443
      - 80:80
    networks:
      - pay-me-more-network
    configs:
      - source: nginx-staging-config
        target: /etc/nginx/conf.d/default.conf
    depends_on:
      backend-staging:
        restart: false
        required: true
        condition: service_started
      frontend-staging:
        restart: false
        required: true
        condition: service_started
    profiles:
      - staging
      - staging-https

  cloudpub-dev:
    container_name: pay-me-more-cloudpub-dev
    image: cloudpub/cloudpub:latest
    restart: unless-stopped
    command: run
    env_file:
      - path: .env
        required: true
    volumes:
      - cloudpub-data:/home/cloudpub
    networks:
      - pay-me-more-network
    environment:
      - TOKEN=${CLOUDPUB_TOKEN}
      - HTTP=nginx-dev:80
    depends_on:
      nginx-dev:
        restart: false
        required: true
        condition: service_started
    profiles:
      - dev-https

  cloudpub-staging:
    container_name: pay-me-more-cloudpub-staging
    image: cloudpub/cloudpub:latest
    restart: unless-stopped
    command: run
    env_file:
      - path: .env
        required: true
    volumes:
      - cloudpub-data:/home/cloudpub
    networks:
      - pay-me-more-network
    environment:
      - TOKEN=${CLOUDPUB_TOKEN}
      - HTTP=nginx-staging:80
    depends_on:
      nginx-staging:
        restart: false
        required: true
        condition: service_started
    profiles:
      - staging-https

volumes:
  node-exporter-data:
    name: pay-me-more-node-exporter-data
  grafana-data:
    name: pay-me-more-grafana-data
  postgres-data:
    name: pay-me-more-postgres-data
  postgres-test-data:
    name: pay-me-more-postgres-test-data
  cloudpub-data:
    name: pay-me-more-cloudpub-data

networks:
  pay-me-more-network:
    name: pay-me-more-network
    driver: bridge

configs:
  prometheus-config:
    name: pay-me-more-prometheus-config
    file: ./etc/prometheus/prometheus.yml
  grafana-config:
    name: pay-me-more-grafana-config
    file: ./etc/grafana/grafana.ini
  nginx-config:
    name: pay-me-more-nginx-config
    file: ./etc/nginx/conf.d/default.prod.conf
  nginx-dev-config:
    name: pay-me-more-nginx-dev-config
    file: ./etc/nginx/conf.d/default.dev.conf
  nginx-staging-config:
    name: pay-me-more-nginx-staging-config
    file: ./etc/nginx/conf.d/default.staging.conf
