[tool.mypy]
files = [
    "src",
    "tests",
]
strict = true
ignore_missing_imports = true

[tool.ruff]
indent-width = 4
line-length = 120

[tool.ruff.lint]
select = [
    "E",
    "F",
    "I",
]

[tool.ruff.format]
indent-style = "space"
line-ending = "lf"
quote-style = "double"

[tool.alembic]
script_location = "%(here)s/src/db/migrations"
prepend_sys_path = ["."]
version_path_separator = "os"

[[tool.alembic.post_write_hooks]]
name = "check"
type = "exec"
executable = "ruff"
options = "check --fix REVISION_SCRIPT_FILENAME"

[[tool.alembic.post_write_hooks]]
name = "format"
type = "exec"
executable = "ruff"
options = "format REVISION_SCRIPT_FILENAME"

[tool.logging]
version = 1
disable_existing_loggers = false

[tool.logging.formatters.basic]
class = "uvicorn.logging.ColourizedFormatter"
format = "%(levelprefix)s %(message)s"

[tool.logging.formatters.verbose]
format = "%(asctime)s %(pathname)s:%(lineno)d: [%(levelname)s] %(message)s"
datefmt = "%d.%m.%Y %H:%M:%S"

[tool.logging.handlers.file]
class = "logging.handlers.RotatingFileHandler"
level = "INFO"
formatter = "verbose"
filename = "app.log"
maxBytes = 10485760
backupCount = 3

[tool.logging.handlers.console]
class = "logging.StreamHandler"
level = "INFO"
formatter = "basic"

[tool.logging.root]
level = "INFO"
handlers = ["file", "console"]

[tool.pyright]
venvPath = "."

[tool.coverage.run]
omit = [
    "src/api/admin/*",
    "src/db/mixins.py",
]
